In [1]:
import pandas as pd

In [ ]:
Metro
Atlanta-Sandy Springs-Alpharetta              5
Austin-Round Rock-Georgetown                  5
Baltimore-Columbia-Towson                     5
Charlotte-Concord-Gastonia                    5
Dallas-Fort Worth-Arlington                   5
Denver-Aurora-Lakewood                        5
Houston-The Woodlands-Sugar Land              5
Jacksonville                                  5
Miami-Fort Lauderdale-Pompano Beach           5
Minneapolis-St. Paul-Bloomington              5
Nashville-Davidson--Murfreesboro--Franklin    5
Orlando-Kissimmee-Sanford                     5
Phoenix-Mesa-Chandler                         5
Portland-Vancouver-Hillsboro                  5
Raleigh-Cary                                  5
San Antonio-New Braunfels                     5
Seattle-Tacoma-Bellevue                       5
St. Louis                                     5
Tampa-St. Petersburg-Clearwater               5

In [25]:
import pandas as pd
from io import StringIO

# Raw data as a string
raw_data = """
Metropolitan Area,2021,2022,2023,2023.III,2023.IV,2024.I,2024.II r,2024.III p,Q3-Q3 %Chya
Atlanta-Sandy Springs-Alpharetta,317.2,365.1,370.0,379.2,366.9,369.2,387.8,382.9,1.0%
Austin-Round Rock-Georgetown,488.6,555.4,481.2,485.7,466.4,466.7,496.5,481.8,-0.8%
Baltimore-Columbia-Towson,358.1,378.2,388.6,406.3,383.9,385.0,428.6,426.6,5.0%
Charlotte-Concord-Gastonia,354.1,397.7,398.0,406.9,395.1,398.3,423.7,421.8,3.7%
Dallas-Fort Worth-Arlington,336.7,385.5,381.9,385.7,376.2,377.7,391.3,384.1,-0.4%
Denver-Aurora-Lakewood,661.0,673.0,652.3,651.0,669.9,654.6,-2.7%
Houston-The Woodlands-Sugar Land,340.3,345.6,336.6,334.1,351.6,348.2,0.8%
Jacksonville,325.0,386.5,389.4,390.0,392.7,390.0,408.0,401.4,2.9%
Miami-Fort Lauderdale-Pompano Beach,593.0,602.5,600.0,625.0,646.0,630.0,4.6%
Minneapolis-St. Paul-Bloomington,379.9,387.9,374.0,373.5,398.3,393.4,1.4%
Nashville-Davidson--Murfreesboro--Franklin,349.5,403.7,401.5,413.6,405.3,404.3,421.0,421.5,1.9%
Orlando-Kissimmee-Sanford,434.0,436.5,442.0,435.0,450.0,442.5,1.4%
Phoenix-Mesa-Chandler,459.6,467.2,466.5,470.5,480.4,469.5,0.5%
Portland-Vancouver-Hillsboro,584.8,593.4,579.4,574.0,608.5,609.0,2.6%
Raleigh-Cary,459.9,478.6,461.2,439.8,484.9,472.3,-1.3%
San Antonio-New Braunfels,326.8,332.1,315.7,305.8,321.8,321.1,-3.3%
Seattle-Tacoma-Bellevue,735.0,744.3,732.2,755.3,829.6,802.3,7.8%
St. Louis,254.4,268.6,243.7,241.1,279.9,280.3,4.4%
Tampa-St. Petersburg-Clearwater,405.0,415.0,410.0,405.2,420.0,410.0,-1.2%
"""


# Use StringIO to simulate a file-like object
data = StringIO(raw_data)

# Read the data into a pandas DataFrame
df = pd.read_csv(data, on_bad_lines='skip')

# Display the DataFrame
print(df.head())

                  Metropolitan Area   2021   2022   2023  2023.III  2023.IV  \
0  Atlanta-Sandy Springs-Alpharetta  317.2  365.1  370.0     379.2    366.9
1      Austin-Round Rock-Georgetown  488.6  555.4  481.2     485.7    466.4
2         Baltimore-Columbia-Towson  358.1  378.2  388.6     406.3    383.9
3        Charlotte-Concord-Gastonia  354.1  397.7  398.0     406.9    395.1
4       Dallas-Fort Worth-Arlington  336.7  385.5  381.9     385.7    376.2

   2024.I 2024.II r  2024.III p Q3-Q3 %Chya
0   369.2     387.8       382.9        1.0%
1   466.7     496.5       481.8       -0.8%
2   385.0     428.6       426.6        5.0%
3   398.3     423.7       421.8        3.7%
4   377.7     391.3       384.1       -0.4%

In [26]:
df = df[['Metropolitan Area', '2021', '2022', '2023']]
df.columns = ['Metro','2021','2022','2023']
df.to_csv('median_house_price.csv',index=False)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Metro   19 non-null     object
 1   2021    19 non-null     float64
 2   2022    19 non-null     float64
 3   2023    19 non-null     float64
dtypes: float64(3), object(1)
memory usage: 740.0+ bytes